@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-base: #333;
  --color-texto: #FFF;
  --color-enlace-hover: #75bd43;
  --color-texto: #FFF;
  --color-sidebar-menu: #afd962;
  --font-primary: "Poppins", serif;
  --font-secondary: "Poppins", serif;
  --color-background-1: rgba(0, 0, 0, 0.5);
  --color-background-2: rgba(0, 0, 0, 0.8);
  --color-background-3: rgba(0, 0, 0, 0.2);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/** Globales **/
body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
}

/* Títulos */
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 20px;
  color: var(--color-texto);
  font-family: var(--font-primary);
  text-decoration: underline;
}

/* Párrafos */
p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-texto);
  max-width: 72%;
  text-align: justify;
  font-family: var(--font-secondary);
  margin-bottom: 20px;
}

/* Enlaces */
a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-texto);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: var(--font-primary);
}

a:hover {
  color: var(--color-enlace-hover);
  text-decoration: underline;
}

/* Listas */
ul,
ol {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: var(--font-secondary);
}

li {
  margin-bottom: 0.5rem;
}

.fa {
  margin-right: .5vw;
  color: var(--color-enlace-hover)
}

.card {
  background-color: var(--color-texto);
  padding: 13px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: grayscale(1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.1);
  filter: none;
}

.card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/** END Globales **/


/* Estilos del video */
#videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 111%;
  z-index: -2;
}

#videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113%;
  background-color: var(--color-background-1);
  z-index: 0;
  pointer-events: none;
}

/* END Estilos del video */

/* Menu */
header {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: block;
  padding: 28px 0 0 38px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding: 0 10px;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
  color: var(--color-texto);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  font-family: var(--font-primary);
}

.menu a:hover,
.menu a.active {
  border: 1px solid var(--color-enlace-hover);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  background-color: rgba(117, 189, 67, .18);
  color: var(--color-texto);
}

/* END Menu */


/* Estilos del contenido */
.content {
  position: relative;
  z-index: 2;
}

/* END Estilos del contenido */

/* Estilos del menú lateral */
.side-menu {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  padding: 20px;
  margin: 178px 20px;
  z-index: 100;
  background: var(--color-background-2);
  border-radius: 10px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
}

.side-menu a {
  text-decoration: none;
  color: var(--color-texto);
  position: relative;
  padding-bottom: 5px;
  font-family: var(--font-primary);
}

/* Línea y puntos */
.side-menu li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-texto);
  margin-right: 0;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

/* Línea animada que aparece debajo del texto */
.side-menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-sidebar-menu);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

/* Efecto de animación cuando el mouse está sobre el enlace */
.side-menu a:hover::after {
  width: 100%;
}

/* Efecto hover */
.side-menu a:hover::after,
.side-menu a.active::after {
  width: 100%;
}

.side-menu a:hover,
.side-menu a.active {
  color: var(--color-sidebar-menu);
}

side-menu li:hover::before,
.side-menu li .active::before {
  background-color: var(--color-sidebar-menu);
}

/* Efecto active para la bolita */
.side-menu li.active::before {
  background-color: var(--color-sidebar-menu);
}

/* Secciones */
.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--color-texto);
  font-size: 2rem;
  transition: opacity 0.5s ease-in-out;
  z-index: 50;
  padding: 0 0 0 62px;
  font-family: var(--font-secondary);
  border-radius: 10px;
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 193px;
}

/* Mostrar solo la sección activa */
.section.active {
  display: flex;
  opacity: 1;
}

/* Estilos de la sección Inicio */
.title {
  font-size: 2.188vw;
  line-height: 2.865vw;
  margin: 1.7vh 7.7vh 3.7vh;
  font-family: Sora;
  font-style: normal;
  font-weight: 100;
}

.title b {
  font-size: 2.100vw;
  line-height: 2.865vw;
}

.descripcion {
  font-size: .938vw;
  line-height: 1.563vw;
  padding-left: 2vw;
  margin-left: 3vw;
  width: 56vw;
}

.inicio__quienes_somos_container {
  background-color: rgb(0 0 0 / 26%);
  width: 76%;
  height: 83%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(255 255 255 / 10%);
  margin-left: 21px;
  padding: 20px 0;
}

.inicio__que_hacemos_container {
  display: grid;
  grid-template-columns: repeat(2, 430px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  margin-left: 16%;
  margin: 1.7vh 24.7vh 3.7vh;
  background-color: rgb(0 0 0 / 26%);
  width: 55%;
  height: 78%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(255 255 255 / 10%);
}

.inicio__que_hacemos-producto,
.inicio__que_hacemos-personal,
.inicio__que_hacemos-instalaciones,
.inicio__que_hacemos-sector {
  display: flex;
}

.inicio__que_hacemos-producto p,
.inicio__que_hacemos-personal p,
.inicio__que_hacemos-instalaciones p,
.inicio__que_hacemos-sector p {
  font-size: .935vw;
  line-height: 1.563vw;
  padding-left: .5vw;
}

.inicio__que_hacemos-producto .fa,
.inicio__que_hacemos-personal .fa,
.inicio__que_hacemos-instalaciones .fa,
.inicio__que_hacemos-sector .fa {
  padding-left: 10px;
  padding-top: 25px;
}

.inicio__nuestros_servicios_container {
  background-color: rgb(0 0 0 / 26%);
  width: 76%;
  height: 83%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(255 255 255 / 10%);
  margin-left: 21px;
  padding: 30px 0 20px 0;
}

/* Estilos de la sección Servicios */
.inicio__nuestra_tecnologia {
  overflow-y: hidden;
  max-height: none;
  box-sizing: unset;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 50px;
}

/* BUTTON */
.buttonContainer {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
}

.buttonContainer .card {
  width: 275px;
  height: 78px;
  color: var(--color-base);
}

.button a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
}

.button .icon {
  font-size: 24px;
  margin-left: 8px;
}

.btn-2 {
  width: 17rem;
  height: 60px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: var(--color-enlace-hover);
  background: radial-gradient(circle, var(--color-enlace-hover), #4e8b2f);
  font-size: 1.2rem;
}

.icon {
  font-size: 24px;
  margin-left: 8px;
}

.btn-2:hover .icon {
  animation: pulse 1s infinite;
  /* Aplica la animación de pulso */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    /* Tamaño original */
  }

  50% {
    transform: scale(1.3);
    /* Tamaño agrandado */
  }

  100% {
    transform: scale(1);
    /* Vuelve al tamaño original */
  }
}

.btn-2:hover {
  color: var(--color-enlace-hover);
  background: transparent;
  box-shadow: none;
}

.btn-2:before,
.btn-2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--color-enlace-hover);
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-2:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-2:hover:before,
.btn-2:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-background-2);
  z-index: 2000;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.modal-content {
  position: relative;
  background: var(--color-texto);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  max-width: 943px;
  width: 90%;
  max-height: 90%;
  animation: slideIn 0.5s ease-in-out;
  box-shadow: 0 4px 8px var(--color-background-3);
  padding: 18px;
}

.modal-content img,
.modal-content iframe {
  width: 100%;
  max-width: 597px;
  max-height: 463px;
  object-fit: cover;
  display: none;
}

.modal-content .text-content {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-secondary);
  color: var(--color-base);
}

.modal-content .text-content h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: var(--font-primary);
}

.modal-content .text-content p {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-secondary);
  max-width: 100%;
  color: var(--color-base);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  z-index: 1000;
}

.modal-close:hover {
  color: var(--color-base);
  cursor: pointer;
  -webkit-transition: all 3ms ease-in;
  -moz-transition: all 3ms ease-in;
  transition: all 3ms ease-in;
  font-size: 22px;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.modal.show {
  display: flex;
  animation: slideIn 0.5s ease-in-out forwards;
}

.modal.hide {
  animation: slideOut 0.5s ease-in-out forwards;
}

/* Slider */
.swiper {
  width: 1012px;
  height: 698px;
  position: absolute;
  left: 15%;
  top: 32%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  background-color: var(--color-texto);
  opacity: .5;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-enlace-hover);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-texto);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: -21%;
}

.caption {
  position: absolute;
  top: 63%;
  left: 0;
  width: 100%;
  background: var(--color-background-2);
  color: var(--color-texto);
  text-align: center;
  padding: 10px 0;
  font-size: 26.2px;
}

.swiper-cube .swiper-cube-shadow {
  width: 0;
}

/* END Slider */

/* Estilos de la sección Optimizacion */
.servicios__optimizacion::-webkit-scrollbar {
  display: none;
}

.servicios__optimizacion ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.servicios__optimizacion li,
.servicios__cortes li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.servicios__optimizacion li span {
  margin-right: 10px;
  color: var(--color-enlace-hover);
}

.logos-proveedores {
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(100px, 222px));
  padding-bottom: 20px;
}

.logos-proveedores img {
  background-color: var(--color-texto);
  padding: 10px;
  max-width: 130px;
  max-height: 50px;
  transition: transform 0.3s ease;
}

.logos-proveedores img:hover {
  transform: scale(1.1);
  filter: none;
}

.servicios__optimizacion span,
.servicios__cortes span {
  font-size: 1em;
  color: var(--color-enlace-hover);
}

/* Estilos de seccion tutoriales */
.videos-tutoriales {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 497px));
  gap: 25px;
  justify-items: center;
}

.button.btn-1 {
  align-self: flex-start;
  width: 26rem;
}

/* Estilos del formulario de contacto */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-texto);
  width: 100%;
  padding: 5px;
  font-size: .5em;
}

.input-group i {
  margin-right: 10px;
  color: var(--color-texto);
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  color: var(--color-texto);
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-group input,
.input-group textarea {
  width: 90%;
  padding: 10px 10px 10px 10px;
  border: none;
  border-bottom: 2px solid var(--color-texto);
  background: transparent;
  color: var(--color-texto);
  font-size: 1rem;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--color-enlace-hover);
}

.input-group input:focus+label,
.input-group textarea:focus+label,
.input-group input:not(:placeholder-shown)+label,
.input-group textarea:not(:placeholder-shown)+label {
  top: -20px;
  left: 0;
  font-size: 0.8rem;
  color: var(--color-enlace-hover);
}

.contact-form {
  flex: 2;
  padding: 0 5px 10px;
}

.contact-form {
  font-size: 2rem;
  color: var(--color-texto);
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  background: var(--color-background-2);
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.contact-options {
  flex: 1;
  padding: 20px;
  text-align: left;
  border-right: .5px solid var(--color-texto);
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.info-item i {
  color: var(--color-enlace-hover);
  font-size: 24px;
  margin-right: 15px;
}

.info-item h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-texto);
}

.info-item p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: var(--color-texto);
}

.info-item__position {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
}

.social-icons a {
  color: var(--color-texto);
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #75bd43;
  /* Default hover color */
}

.social-icons a[href*="facebook"]:hover {
  color: #3b5998;
  /* Facebook color */
}

.social-icons a[href*="youtube"]:hover {
  color: #ff0000;
  /* YouTube color */
}

.social-icons a[href*="instagram"]:hover {
  color: #e4405f;
  /* Instagram color */
}

.social-icons a[href*="whatsapp"]:hover {
  color: #25d366;
  /* WhatsApp color */
}

.button.btn-3 {
  width: 70%;
}

.btn-position {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--color-texto);
  text-align: center;
  /* padding: 10px 0; */
  margin-left: 56px;
  font-family: var(--font-secondary);
  z-index: 100;
}

footer p {

  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-texto);
  max-width: 100%;
  text-align: justify;
  font-family: var(--font-secondary);
  margin-bottom: 0;
}

footer a {
  font-size: 1rem;
  color: var(--color-enlace-hover);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: var(--font-primary);
}