:root {
  --color-base: #333;
  --color-h1: #222;
  --color-h3: #444;
  --color-texto: #555;
  --color-enlace: #007bff;
  --color-enlace-hover: #75bd43;
  --color-menu: #FFF;
  --color-sidebar-menu: #afd962;
  --fuentePrincipal: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/** Globales **/
body {
  font-family: var(--fuentePrincipal);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Títulos */
h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-h1);
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--color-base);
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: var(--color-h3);
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

/* Párrafos */
p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-texto);
  margin-bottom: 1rem;
}

/* Enlaces */
a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-menu);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-enlace-hover);
  text-decoration: underline;
}

/* Listas */
ul,
ol {
  font-size: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/** END Globales **/



/* Estilos del video */
#videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 111%;
  z-index: -2;
}

#videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  pointer-events: none;
}

/* END Estilos del video */

/* Menu */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  background: transparent;
  padding: 15px;
  display: grid;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
  color: var(--color-menu);
  border: 3px solid transparent;
  border-radius: 5px;
  transition: all 0.3sease-in-out;
  -webkit-transition: all 0.3sease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.menu a:hover,
.menu a.active {
  border: 3px solid var(--color-enlace-hover);
}

/* END Menu */


/* Estilos del contenido */
.content {
  position: relative;
  z-index: 2;
  /* padding-top: 110px; */
}

/* END Estilos del contenido */

/* Estilos del menú lateral */
.side-menu {
  position: fixed;
  /* left: 20px; */
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
}

.side-menu a {
  text-decoration: none;
  color: var(--color-menu);
  font-size: 1rem;
  font-weight: normal;
  transition: color 0.3s ease;
  position: relative;
  padding-bottom: 5px;
}

/* Línea y puntos */
.side-menu li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-menu);
  margin-right: 0;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

/* Línea animada que aparece debajo del texto */
.side-menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-sidebar-menu);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

/* Efecto de animación cuando el mouse está sobre el enlace */
.side-menu a:hover::after {
  width: 100%;
}

/* Efecto hover */
.side-menu a:hover::after,
.side-menu a.active::after {
  width: 100%;
}

.side-menu a:hover {
  color: var(--color-sidebar-menu);
}

.side-menu li:hover::before,
.side-menu li .active::before {
  background-color: var(--color-sidebar-menu);
}

.side-menu a.active {
  color: var(--color-sidebar-menu);
  font-weight: bold;
}

/* Secciones */
section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  transition: opacity 0.5s ease-in-out;
  z-index: 50;
}

/* Mostrar solo la sección activa */
section.active {
  display: flex;
  opacity: 1;
}